.helpYouContainer{
     width: 100%;
     max-width: 1024px;
     margin:0px auto;
     padding: 100px 0;
}
.helpTitleContent{
    font-size: 24px;
    color: #434e5c;
}
.helpTitleContent span{
    font-size: 16px;
    margin-left: 20px;
}
.helpTitleOneContent{
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-start;
    width:50%;
    margin:30px 0;
}
.helpImg{
    height: 100px;
    width: 100px;
    flex-shrink: 0;
}
.helpOneContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;

}
.helpOneDesc{
    font-size: 16px;
}
.helpImg div{
    height:inherit;
    width:inherit;
    text-align: center;
    line-height: 100px;
    font-size: 57px;
}
.helpOneTitle{
    font-size: 30px;
}
.helpOneTitle sub{
    font-size: 16px;
    margin-left: 10px;
}
.helpImg .icon{
    color: #434e5c;
}