.myExperienceDiv{
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    align-items: stretch;
}
.experienceImgDiv{
    width: 40%;
}
.experienceImgDiv img{
    width: 100%;
    height: 800px;
}
.myExperienceDescContent{
    width: 40%;
    margin-left: 10%;
}
.myExperienceDescContent sub{
    margin-left: 10px;
    font-size: 14px;
}
.experience-content-div{
    border-left: 1px solid #434e5c;
    margin-top: 60px;
}
.experienceContentInner{
    margin-left: -10px;
}
.myExperienceHead h2{
    font-size: 30px;

}
.myExperienceHead p{
    font-size: 16px;
    margin: 20px 0;
}