.myDesc{
  font-size: 40px;
  text-align: center;
  padding: 120px 0;
  color: #434e5c;
}

body{
  font-family: -apple-system,"Helvetica Neue",Helvetica,Arial,"PingFang SC","Hiragino Sans GB","WenQuanYi Micro Hei","Microsoft Yahei",sans-serif;
}